/* CSS Common code  start*/

:root {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0px auto;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 45px;
  text-align: center;
  color: #333;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 1rem 0rem;
}

/* CSS Common code  end */

/* navigation bar start */
.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/bannerme.jpg");
  background-size: cover;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
}

.navbar .brand-name {
  color: #fff;
  padding: 10px 0px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}

.navbar .brand-name i {
  color: #30c39e;
}

.navbar ul li {
  margin-left: 1.5rem;
  padding: 10px 0px;
}

.navbar ul li:first-child a:active {
  color: #30c39e;
}

.navbar ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.navbar ul li a:hover {
  color: #35c4a0;
}
/* navigation bar end */

/* banner section start */
.banner-content {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.banner-content .devoloper-name {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.banner-content h1 {
  color: #30c39e;
  display: inline-block;
  font-size: 65px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 0.2em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.banner-content h3 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.banner-content p {
  width: 700px;
  color: #fff;
  margin: 1em 0;
  line-height: 1.5rem;
  letter-spacing: 1px;
  font-size: 16px;
}

.banner-content div .btn {
  padding: 11px 35px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 1.5em;
  border-radius: 4px;
}

.banner-content div:first-child a:active {
  background: #30c39e;
  color: #fff;
}

.banner-content div .btn:hover {
  background: #30c39e;
  border: 2px solid #30c39e;
  color: #fff;
}
/* banner section end */

/* about section start  */
.about-section {
  padding: 3rem 0rem;
}

.about-me {
  padding-top: 3rem;
  gap: 2rem;
}

.about-me .about-text,
.about-img,
.skills {
  width: 100%;
}

.about-text h4 {
  color: #333;
  font-size: 22px;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 600;
}

.about-text p {
  color: #666;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-size: 15px;
  margin: 1.5rem 0rem;
}

.about-text a {
  display: inline-block;
  padding: 11px 35px;
  color: #fff;
  background: #0a8ea0;
  border: 2px solid #0a8ea0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}

.about-me .about-img img {
  border-radius: 5px;
}

.about-me .skill-item {
  justify-content: space-between;
}

.about-me .skills .skill-item h6 {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.about-me .skills p {
  color: #666666;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
/* about section end  */

/* service section start */

.service-area {
  background-color: #30c39e;
  padding: 3rem 0rem;
}

.service-area h1 {
  color: #fff;
}

.service-item {
  padding: 1rem 0rem;
}

.service-item .item h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.service-item .item h3 i {
  color: #fff;
  font-size: 35px;
  margin-right: 5px;
}

.service-item .item p {
  color: #eee;
  margin: 1em 0;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.service-item {
  gap: 2rem;
}

.service-item .UX-Design,
.Mobile-Apps,
.Web-Developer {
  width: 100%;
}
/* service section end */

/* experience section start */
.experience-area {
  gap: 2rem;
}

.experience-area .web-designer .pd {
  background-color: #f8f9fa;
  padding: 1.5rem;
}

.experience-area .app-devoloper .pd {
  padding: 1.5rem;
  background-color: #f8f9fa;
}

.experience-area .web-devoloper .pd {
  padding: 1.5rem;
  background-color: #f8f9fa;
}

.experience-area .work-duration h3 {
  color: #333333;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.experience-area .work-duration h4  {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  background-color: #30C39E;
  padding: 5px;
  border-radius: 5px;
}

.experience-area .work-duration p {
  line-height: 28px;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #666;
}

.experience-area .web-designer .work-duration {
  justify-content: space-between;
}

.experience-area .app-devoloper .work-duration {
  justify-content: space-between;
}

.experience-area .web-devoloper .work-duration {
  justify-content: space-between;
}
/* experience section end */

/* Blog Section Start */

.blog-area {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/exp1.jpg");
    background-size: cover;
    padding: 5rem 0rem;
  
}
.container h1 {
  font-size: 45px;
  line-height: 54px;
  color:#ffffff;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}


.blog-content p {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: #cccccc;
  margin-top: 12px;
  margin-bottom: 30px;
}


.blog-content h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
}

.blog-card {
  gap: 2rem;
}

.blog-card .pd {
  background-color: #ffffff;
  padding: 2rem;
}

.blog-item {
  justify-content: space-between;
  margin: 0px auto;
  margin-bottom: 2rem;
}

.blog-item h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #333333;
}



.blog-item .year {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  background-color: #30C39E;
  padding: 5px 8px;
  border-radius: 5px;
  display: inline-block;
}

.blog-item p {
  color: #999;
  line-height: 28px;
  letter-spacing: .5px;
}
.pd .blog-btn {
  font-size: 14px;
  line-height: 21px;
  color: #0a8ea0;
  font-weight: 600;
  margin-top: 30px;
}


/* Blog Seciton End */

/* Projects Seciton Start */
.container .project-title {
  color: #333333;
  font-size: 45px;
  font-weight: 600;
  margin-top: 50px;

}

.container .project img {
  width: 25%;
  height: auto;

}

.project {
  gap : 2rem;
  margin-bottom : 2rem ;
}
/* Projects Section End */

/* Hire Section Start */
.hire-section {
  background-color:#0A8EA0 ;
  margin-top : 60px;
  padding: 4rem 0px;
}
.hire-items * {
  text-align: center;
}
.hire-items h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1px;
}

.hire-items p {
  color: #ddd;
  line-height: 28px;
  letter-spacing: .5px;
  width: 70%;
  margin: 20px auto;
}

.hire-button {
 text-align: center;
}

.btn {
  padding: 11px 35px;
  color: #0a8ea0;
  background: #fff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 4px;
}

.work-btn:hover {
  background-color:black ;
}

.hire-me-btn {
  background-color: black;
}

.hire-me-btn:hover {
  background-color: white;
}

/* Hire Section End */

/* Contact Section Start */
.contact-area h2 {
  font-size: 45px;
  text-align: center;
  color: #333;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 30px;
  margin-top : 20px;
}

.contact-address {
  width : 100%;
}

.contact-address h3 {
  text-transform: capitalize;
  color: #333;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.fa-solid {
  color: #30C39E;
  font-size: 20px ;
  padding-right:10px;
}
.contact-address .location {
  margin: 0;
  line-height: 28px;
  letter-spacing: .5px;
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}

.contact-address .phone {
  margin: 0;
  line-height: 28px;
  letter-spacing: .5px;
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}

.contact-address .mail {
  margin: 0;
  line-height: 28px;
  letter-spacing: .5px;
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}

.contact-address iframe {
  margin-top: 20px;
}


.contact-form {
  width: 100%;
  height: 100%;
}



.contact-form h3 {
  text-transform: capitalize;
  color: #333;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.contact-form .name {
  width: 500px;
  height: 50px;
  margin-left: 29px;
  margin-top : 50px;
}
.contact-form .email {
  width: 500px;
  height: 50px;
  margin-left: 29px;
}
.contact-form .phone {
  width: 500px;
  height: 50px;
  display: inline-block;
  margin-left: 24px;
  
}
.contact-form .msg {
  width: 500px;
  height: 50px;
}

.contact-form .sub-btn {
  padding: 11px 35px;
  color: #fff;
  background: #0a8ea0;
  border: 2px solid #0a8ea0;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 4px;
  float: right;
  cursor: pointer;
  margin-top: 40px;
  margin-right: 70px;

}
/* Contact Section End */

/* Footer Section Start */
.footer-section {
  background: black;
  height: 300px;
}

.footer-icons {
  text-align: center;
  padding-top: 80px;
}

.footer-icons a {
  padding :15px;
  font-size : 30px;
}

.footer-icons p {
  color: white;
  font-family: 'Poppins' sans-serif;
  font-size: 20px;
  padding-top : 20px;
}

.footer-icons .fa-brands {
  background : #333;
  color: whitesmoke;

}

.footer-icons .up-button {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 26px;
  margin: 20px 0;
}

/* Footer Section End */ 